@charset "UTF-8";
@import "common/var";
@import "mixins/button";
@import "mixins/mixins";
@import "mixins/utils";

@include b(button) {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: $--button-font-weight;
  border: none;

  @include themify {
    background: themed('color_primary_10');
    color: themed('color_primary');
  }

  @include utils-user-select(none);
  & + .el-button {
    margin-left: 10px;
  }

  @include button-size($--button-padding-vertical, $--button-padding-horizontal, $--button-font-size, $--button-border-radius);

  &:hover,
  &:focus,
  &:active {
    @include themify {
      background: themed('color_primary_20');
    }
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  & [class*="el-icon-"] {
    & + span {
      margin-left: 5px;
    }
  }

  @include when(plain) {
    &:hover,
    &:focus {
      background: $--color-white;
      border-color: $--color-primary;
      color: $--color-primary;
    }

    &:active {
      background: $--color-white;
      border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
      color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
      outline: none;
    }
  }

  @include when(active) {
    color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      @include themify {
        color: themed('color_primary_40');
        background-color: themed('color_primary_10');
      }
      cursor: not-allowed;
    }

    &.el-button--text {
      @include themify {
        color: themed('color_primary_30');
      }
    }

    &.el-button--secondary {
      @include themify {
        color: themed('color_upper_40');
        background-color: themed('color_hero_10');
      }
    }

    &.el-button--text-secondary {
      @include themify {
        color: themed('color_hero_30');
      }
    }

    &.is-plain {
      &,
      &:hover,
      &:focus {
        background-color: $--color-white;
        border-color: $--button-disabled-border;
        color: $--button-disabled-color;
      }
    }
  }

  @include when(loading) {
    pointer-events: none;
    @include themify {
      background: themed('color_primary_20');
    }

    &.el-button--secondary {
      @include themify {
        background-color: themed('color_hero_20');
      }
    }
  }
  /*
  @include when(round) {
    border-radius: 20px;
    padding: 12px 23px;
  }
  @include when(circle) {
    border-radius: 50%;
    padding: 12px;
  }
  @include m(primary) {
    @include button-variant($--button-primary-color, $--button-primary-fill, $--button-primary-border);
  }
  @include m(success) {
    @include button-variant($--button-success-color, $--button-success-fill, $--button-success-border);
  }
  @include m(warning) {
    @include button-variant($--button-warning-color, $--button-warning-fill, $--button-warning-border);
  }
  @include m(danger) {
    @include button-variant($--button-danger-color, $--button-danger-fill, $--button-danger-border);
  }
  @include m(info) {
    @include button-variant($--button-info-color, $--button-info-fill, $--button-info-border);
  }
  @include m(medium) {
    @include button-size($--button-medium-padding-vertical, $--button-medium-padding-horizontal, $--button-medium-font-size, $--button-medium-border-radius);
  }
  @include m(small) {
    @include button-size($--button-small-padding-vertical, $--button-small-padding-horizontal, $--button-small-font-size, $--button-small-border-radius);
  }
  @include m(mini) {
    @include button-size($--button-mini-padding-vertical, $--button-mini-padding-horizontal, $--button-mini-font-size, $--button-mini-border-radius);
  }
  */

  @include m(text) {
    @include themify {
      color: themed('color_primary_60');
    }
    border: none;
    background: transparent !important;
    padding-left: 0;
    padding-right: 0;

    &:hover,
    &:focus,
    &:active {
      @include themify {
        color: themed('color_primary');
      }
    }
  }

  @include m(text-secondary) {
    @include themify {
      color: themed('color_hero_60');
    }
    border: none;
    background: transparent !important;
    padding-left: 0;
    padding-right: 0;

    &:hover,
    &:focus,
    &:active {
      @include themify {
        color: themed('color_hero');
      }
    }
  }

  @include m(secondary) {
    @include themify {
      background: themed('color_hero_10');
      color: themed('color_upper');
    }

    &:hover,
    &:focus {
      @include themify {
        background: themed('color_hero_20');
      }
    }
  }

  /* Used to sticky brief info on the page */
  @include m(light) {
    pointer-events: none;

    @include themify {
      background: themed('color_primary');
      color: themed('color_hero');
    }
  }
}

/*
@include b(button-group) {
  @include utils-clearfix;
  display: inline-block;
  vertical-align: middle;

  & .el-button {
    float: left;
    position: relative;
    & + .el-button {
      margin-left: 0;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:first-child:last-child {
      border-top-right-radius: $--button-border-radius;
      border-bottom-right-radius: $--button-border-radius;
      border-top-left-radius: $--button-border-radius;
      border-bottom-left-radius: $--button-border-radius;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:not(:last-child) {
      margin-right: -1px;
    }

    &:hover,
    &:focus,
    &:active {
      z-index: 1;
    }

    @include when(active) {
      z-index: 1;
    }
  }

  @each $type in (primary, success, warning, danger, info) {
    .el-button--{$type} {
      &:first-child {
        border-right-color: rgba($--color-white, 0.5);
      }
      &:last-child {
        border-left-color: rgba($--color-white, 0.5);
      }
      &:not(:first-child):not(:last-child) {
        border-left-color: rgba($--color-white, 0.5);
        border-right-color: rgba($--color-white, 0.5);
      }
    }
  }
}
*/
