@import "mixins/mixins";
@import "common/var";

@include b(switch) {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: $--switch-font-size;
  line-height: $--switch-height;
  height: $--switch-height;
  vertical-align: middle;
  @include when(disabled) {
    & .el-switch__core,
    & .el-switch__label {
      cursor: not-allowed;
    }
  }

  &.processing .el-switch__core {
    cursor: progress;
  }

  @include e(label) {
    cursor: pointer;
    opacity: .6;

    @include when(active) {
      opacity: 1;
    }
    @include m(right) {
      margin-left: 12px;
    }
  }

  /*
  @include e(label) {
    transition: .2s;
    height: $--switch-height;
    display: inline-block;
    font-size: $--switch-font-size;
    font-weight: 500;
    cursor: pointer;
    vertical-align: middle;
    color: $--color-text-primary;

    @include when(active) {
      color: $--color-primary;
    }

    @include m(left) {
      margin-right: 10px;
    }
    @include m(right) {
      margin-left: 10px;
    }
    & * {
      line-height: 1;
      font-size: $--switch-font-size;
      display: inline-block;
    }
  }
  */

  @include e(input) {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
    &:focus ~ .el-switch__core {
      outline: 1px solid $--color-primary;
    }
  }

  @include e(core) {
    margin: 0;
    display: inline-block;
    position: relative;
    width: $--switch-width;
    height: $--switch-height;
    outline: none;
    border-radius: $--switch-core-border-radius;
    cursor: pointer;
    transition: background-color .3s;
    vertical-align: middle;
    @include themify {
      background-color: themed('color_primary_30');
    }

    & .el-switch__button {
      position: absolute;
      top: 2px;
      left: 2px;
      border-radius: $--border-radius-circle;
      transition: left .3s, transform .3s;
      width: $--switch-button-size;
      height: $--switch-button-size;
      background: white;
    }
  }

  @include when(checked) {
    .el-switch__core {
      @include themify {
        background-color: themed('color_primary_70', ('theme-white': 'color_hero_70'));
      }
    }

    & .el-switch__button {
      /* the component's JS translates the button a little to much to the right when checked */
      left: -3px;
    }
  }

  @include when(disabled) {
    opacity: 0.6;
  }

  /*
  @include m(wide) {
    .el-switch__label {
      &.el-switch__label--left {
        span {
          left: 10px;
        }
      }
      &.el-switch__label--right {
        span {
          right: 10px;
        }
      }
    }
  }
  */

  & .label-fade-enter,
  & .label-fade-leave-active {
    opacity: 0;
  }
}
