.DS_Store
node_modules

# Log files
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Theme output
/lib

# Build files
/bin

# Webpack stats file
stats.json

# Example build files
example/dist


