/*
 * Loading
**/

.el-loading-mask {
  background: rgba(255, 255, 255, .05);
}

.el-loading-spinner .path {
  stroke: white;
}

/* InputNumber */
.el-input-number__increase,
.el-input-number__decrease {
  font-size: 7px;
}

.el-input-number__increase {
  transform: scaleY(-1);  /* flip since same icon is used as decrease */
}

/* Dropdown, Select */
.el-select-dropdown .popper__arrow,
.el-dropdown-menu .popper__arrow,
.el-picker-panel .popper__arrow {
  display: none;
}

.el-select-dropdown__item,
.el-dropdown-menu__item {
  padding: 0 15px;
}

/* Button */
.el-button i {
  line-height: 12px;  /* button's height gets affected without this */
}
