/* Loading */
.el-loading-mask {
  background: rgba(255, 255, 255, .05);
}

.el-loading-spinner .path {
  stroke: white;
}

/* Dropdown, Select */
.el-select-dropdown .popper__arrow,
.el-dropdown-menu .popper__arrow,
.el-picker-panel .popper__arrow {
  display: none;
}

.el-select-dropdown__item,
.el-dropdown-menu__item {
  padding: 0 15px;
}

i.el-select__caret.el-icon-arrow-up:before {
  font-family: "heartflow_iconography";
  content: '\e803'; /* small chevron */
}

/* Switch */
.el-switch.is-disabled.processing .el-switch__core {
  pointer-events: auto; // Prevent .is-disabled class from setting pointer-events: none 
}

/* Button */
.el-button i {
  line-height: 12px;  /* button's height gets affected without this */
}

/* Input number */

.el-input-number__increase {
  transform: rotate(180deg);
  font-size: 6px;
  i.el-icon-arrow-up:before {
    font-family: "heartflow_iconography";
    // Use standard chevron as it has a smaller bounding boxes that the small version which prevent the increase/decrease from overlapping
    content: '\e804'; /* standard chevron */
  }
}

.el-input-number__decrease {
  font-size: 6px;
  i.el-icon-arrow-down:before {
    font-family: "heartflow_iconography";
    content: '\e804'; /* standard chevron */
  }
}

/* Input */
i.el-input__validateIcon.el-icon-circle-close::before {
  font-family: "heartflow_iconography";
  content: '\e868';
}

/* Message, Notification */
.el-message__closeBtn.el-icon-close::before,
.el-notification__closeBtn.el-icon-close::before {
  font-family: "heartflow_iconography";
  content: '\e8a7';
}

/* Element UI default icons */
i.el-icon-search::before {
  font-family: "heartflow_iconography";
  content: "\e87c";
}

i.el-icon-warning::before {
  font-family: "heartflow_iconography";
  content: "\e83d";
}

i.el-icon-time::before, i.el-icon-date::before {
  font-family: "heartflow_iconography";
  content: '\e8ac';
}




/* Custom icon classes */

// Global font-sizes for custom icons
[class^="icon-large-"],
[class*=" icon-large-"] {
  font-size: 50px;
}

[class^="icon-standard-"],
[class*=" icon-standard-"] {
  font-size: 22px;
}

[class^="icon-small-"],
[class*=" icon-small-"] {
  font-size: 15px;
}

// Workaround for generating quarantine icons..
@mixin quarantine-icon($soft, $small) {
  display: inline-block;
  height: if($small, 13px, 20px);
  width: if($small, 13px, 20px);
  margin: 0 4px;
  background: if($soft, #F5D323, #F54423);
  border-radius: 50%;
  &:before {
    content: '\e808'; // based on icon-standard-neutralized_quarantine
    position: relative;
    right: if($small, 6px, 9px);
    bottom: if($small, 2px, 0px);
  }
}

.icon-small-soft_quarantine { @include quarantine-icon(true, true) }
.icon-small-hard_quarantine { @include quarantine-icon(false, true) }
.icon-standard-soft_quarantine { @include quarantine-icon(true, false) }
.icon-standard-hard_quarantine { @include quarantine-icon(false, false) }
