/**
 * Generic themes are generated based on three colors(primary, hero, upper) config.
 */
/*
primary -> body text
secondary -> modal body and tooltips
tertiary -> buttons
quaternary ->
quinary -> links
senary -> critical buttons (on black and white)
*/
$themesConfig: (
  default: (
    hero: rgb(33, 113, 171), // #2171AB
    primary: rgb(255, 255, 255), // #ffffff
    secondary: rgb(85, 102, 118), // #556676
    tertiary: rgb(255, 255, 255), // #ffffff

    quaternary: rgb(33, 113, 171), // #2171AB
    quinary: rgb(255, 255, 255), // #ffffff
    senary: rgb(255, 255, 255), // #ffffff
    septenary: rgb(33, 113, 171), // #2171AB

    upper: rgb(16, 183, 218), // #10B7DA
  ),
  black: (
    hero: rgb(39, 43, 47), // #272b2f
    primary: rgb(255, 255, 255), // #ffffff
    secondary: rgb(85, 102, 118), // #556676
    tertiary: rgb(255, 255, 255), // #ffffff

    quaternary: rgb(85, 102, 118), // #556676
    quinary: rgb(16, 183, 218), // #10b7da
    senary: rgb(240, 65, 65), // #f04141
    septenary: rgb(255, 255, 255), // #ffffff

    upper: rgb(39, 43, 47) // #272b2f
  ),
  gray: (
    hero: rgb(85, 102, 118), // #556676
    primary: rgb(255, 255, 255), // #ffffff
    secondary: rgb(85, 102, 118), // #556676
    tertiary: rgb(255, 255, 255), // #ffffff

    quaternary: rgb(85, 102, 118), // #556676
    quinary: rgb(255, 255, 255), // #ffffff
    senary: rgb(255, 255, 255), // #ffffff
    septenary: rgb(85, 102, 118), // #556676

    upper: rgb(104, 124, 143) // #687c8f
  ),
  white: (
    hero: rgb(255, 255, 255), // #ffffff
    primary: rgb(85, 102, 118), // #556676
    secondary: rgb(255, 255, 255), // #ffffff
    tertiary: rgb(85, 102, 118), // #556676

    quaternary: rgb(255, 255, 255), // #ffffff
    quinary: rgb(33, 113, 171), // #2171AB
    senary: rgb(240, 65, 65), // #f04141
    septenary: rgb(255, 255, 255), // #ffffff

    upper: rgb(255, 255, 255) // #ffffff
  )
);

/**
 * Color opacities in percentage.
 */
$colorOpacities:(
  hero: 10 20 30 60,
  primary: 10 20 25 30 40 50 60 70 80,
  secondary: 10 20 30 60,
  tertiary: 10 20 30 60,
  quaternary: 10 20 30 60,
  quinary: 50,
  senary: 20,
  septenary: 10,
  upper: 40
);

/**
 * Custom theme colors.
 * Additional color keys can be defined or generic can be overridden.
 */
$themes: (
  theme-white: (
    color_upper_40: rgba(4, 105, 150, .4),
    color_hero_70: rgba(4, 105, 150, .7),
  )
);

/**
 * Generates color opacity map.
 * @return [Sass::Script::Value::Map] Color opacity map.
 */
@function getColorOpacityMap($colorKey, $colorVal) {
  $opacityList: map-get($colorOpacities, $colorKey);
  $colorMap: (color_#{$colorKey}: $colorVal);
  @each $opacity in $opacityList {
    $colorMap: map-merge($colorMap, (color_#{$colorKey}_#{$opacity}: rgba($colorVal, $opacity / 100)));
  }
  @return $colorMap;
}

/**
 * Generates themes based on $themesConfig
 */
@each $themeName, $themeConfig in $themesConfig {
  $themeMap: ();
  @each $colorKey, $colorVal in $themeConfig {
    $themeMap: map-merge($themeMap, getColorOpacityMap($colorKey, $colorVal));
  }
  // Merges custom colors defined in $themes to override.
  @if map-has-key($themes, theme-#{$themeName}) {
    $themeMap: map-merge($themeMap, map-get($themes, theme-#{$themeName}))
  }
  $themes: map-merge($themes, (theme-#{$themeName}: $themeMap));
}

/* Mixin
-------------------------- */

@mixin themify() {
  @each $theme, $map in $themes {
    $currentTheme: $theme !global;
    .#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

/**
 * Returns the value in a theme associated with the given key.
 *
 * @example
 * themed('color_primary') => Returns color_primary for all themes.
 * themed('color_primary', ('theme-white': 'color_upper')) => Returns color_upper value for theme-white, for all themes color_primary.
 * @param $key [Sass::Script::Value::Base]
 * @param $opts [Sass::Script::Value::Map]
 * @return [Sass::Script::Value::Base] The theme value by $key.
 */
@function themed($key, $opts: ()) {
  @each $theme, $optkey in $opts {
    @if $currentTheme == $theme {
      @return map-get($theme-map, $optkey);
    }
  }
  @return map-get($theme-map, $key);
}

/* Generate themes background.
-------------------------- */

@mixin themes_bg() {
  @each $theme, $map in $themes {
    $hero: map-get($map, 'color_hero');
    $upper: map-get($map, 'color_upper');
    $color_primary: map-get($map, 'color_primary');
    .#{$theme} {
      @if $theme == 'theme-white' {
        background-color: $upper;
      } @else {
        background-color: $hero;
        background-image: linear-gradient(165deg, $upper, $hero);
      }
      color: $color_primary;
    }
  }
}
