/* Prevent not-allowed cursor */
.disabled,
.disabled *,
.is-disabled,
.is-disabled * {
  /* use pointer-events instead of cursor property
   * to prevent the not-allowed cursor even on pseudoelements (radio/checkbox fill)
   * and also to prevent hover state styles (input's border, for instance)
   */
  pointer-events: none;
}


/*
 * Table
**/

.table-left-align {
  margin-left: -10px;
}

.scroll-table .el-table__body-wrapper {
  /* Hack because Element and vue-infinite-loading aren't getting along.
     vue-infinite-loading isn't able to determine that .el-table__body-wrapper is the scrolling element
     because Element adds the class with `overflow-y: auto;` after vue-infinite-loading has already initialized
  */
  overflow-y: auto;
}

.scroll-table .el-table__body-wrapper {
  height: calc(100% - 45px);   /* account for table header */
}

.el-table__body-wrapper .el-table__empty-block {
  display: none;
}


/*
 * Loading
**/

.el-loading-mask {
  background: rgba(255, 255, 255, .05);
}

.el-loading-spinner .path {
  stroke: white;
}

/* InputNumber */
.el-input-number__increase,
.el-input-number__decrease {
  font-size: 7px;
}

.el-input-number__increase {
  transform: scaleY(-1);  /* flip since same icon is used as decrease */
}

/* Dropdown, Select */
.el-select-dropdown .popper__arrow,
.el-dropdown-menu .popper__arrow,
.el-picker-panel .popper__arrow {
  display: none;
}

.el-select-dropdown__item,
.el-dropdown-menu__item {
  padding: 0 15px;
}

/* Button */
.el-button i {
  line-height: 12px;  /* button's height gets affected without this */
}
